/*!
 * Theme Name: 		OceanWP
 * Theme URI: 		https://oceanwp.org/
 * Author: 			Nick
 * Author URI: 		https://oceanwp.org/about-me/
 * Description: 	OceanWP is the perfect theme for your project. Lightweight and highly extendable, it will enable you to create almost any type of website such a blog, portfolio, business website and WooCommerce storefront with a beautiful & professional design. Very fast, responsive, RTL & translation ready, best SEO practices, unique WooCommerce features to increase conversion and much more. You can even edit the settings on tablet & mobile so your site looks good on every device. Work with the most popular page builders as Elementor, Beaver Builder, Brizy, Visual Composer, Divi, SiteOrigin, etc... Developers will love his extensible codebase making it a joy to customize and extend. Best friend of Elementor & WooCommerce. Looking for a Multi-Purpose theme? Look no further! Check the demos to realize that it's the only theme you will ever need: https://oceanwp.org/demos/
 * Version: 		1.6.10
 * Tags: 			two-columns, right-sidebar, footer-widgets, blog, news, custom-background, custom-menu, post-formats, rtl-language-support, sticky-post, editor-style, threaded-comments, translation-ready, buddypress, custom-colors, featured-images, full-width-template, theme-options, e-commerce
 * Text Domain: 	oceanwp
 *
 * License: GNU General Public License v3.0 or later
 * License URI: https://www.gnu.org/licenses/gpl-3.0.html
 * 
 * DO NOT ADD YOUR CSS TO THIS FILE - IT WILL BE LOST
 * To add your own CSS, use a child theme: https://github.com/oceanwp/oceanwp-child-theme
 * 
 * CSS file is in "assets/css"
 */

/* start design update (26-08-2019) */

body {
    direction: rtl;
    font-family: 'Assistant', sans-serif !important;
}

html,
a,
p,
div,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Assistant', sans-serif !important;
}

* {
    direction: rtl;
}

/* top header */

#site-header {
    background-color: #ffffff;
    border-bottom: 0px solid #f1f1f1;
}

.elementor-element.elementor-widget-heading {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.elementor-element.elementor-widget.elementor-widget-wp-widget-ocean_custom_header_logo {
    width: 18%;
    float: right;
}

.elementor-element.elementor-widget.elementor-widget-wp-widget-nav_menu {
    width: 82%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0 0px 0;
    flex-direction: row-reverse;
}

img.sticky-logo {
    max-width: 100% !important;
    max-height: 65px !important;
}

.elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
    color: #222;
    font-weight: 400;
    width: 100%;
    display: flex;
    float: left;
    flex-direction: row-reverse;
    position: relative;
}

.phone-call-div {
    float: left;
    display: flex;
    order: 2;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.user-div {
    float: left;
    text-align: left;
    padding-right: 35px;
    position: relative;
}

nav#top-nav ul li {
    margin: 0;
    padding: 5px 21px;
    display: flex;
    border-left: 1px solid #E2E7EA;
}

nav#top-nav ul li:last-child {
    border-left: 0px solid #eee;
    padding-left: 15px;
}

nav#top-nav ul li a {
    font-size: 20px;
    font-weight: 400;
}

.custom-header-logo.left {
    text-align: right;
}

#site-logo #site-logo-inner a img,
#site-header.center-header #site-navigation-wrap .middle-site-logo a img {
    transition: none;
}

#site-header-sticky-wrapper .elementor-column-gap-default>.elementor-row>.elementor-column>.elementor-element-populated {
    padding: 10px 0;
}

.dropdown-custom-hover {
    display: none;
    transition: display .3s ease-in-out;
}

.dropdown-custom-hover.hover-drop1 {
    display: flex;
    padding: 0px;
    float: left;
    position: absolute;
    right: 30px;
    top: 35px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
    z-index: 99;
    background-color: #fff;
    font-size: 18px;
    font-weight: 400;
    min-width: 180px;
    border-radius: 4px;
}

.dropdown-custom-hover a {
    padding: 12px 15px;
    float: left;
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fafafa;
}

.dropdown-custom-hover a:last-child {
    border-bottom: 0px solid #fafafa;
}


/* top dropdown */

.dropbtn {
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    width: 300px;
    left: -35px;
    padding: 30px 0 0 0;
    z-index: 99;
}

.dropdown-content a {
    color: #FFFFFF;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.3s ease-in-out;
}

.dropdown-content a:hover {
    background-color: #065767;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #FFF;
}

.dropdown.register-link .dropdown-content.dropdown-top {
    left: -115px;
}

.dropdown-inner-content {
    padding: 0;
    margin: 0;
    background-color: #056173;
    border-radius: 24px;
}

.dropdown-inner-content .dropdown-header {
    padding: 12px 45px;
    margin: 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.dropdown-inner-content .dropdown-header h3 {
    padding: 0px 0px;
    margin: 0 0 0px 0;
    color: #fff;
    font-size: 24px;
    font-weight: 800;
    text-align: right;
}

.dropdown-inner-content .dropdown-body {
    padding: 0px 0px 0 0;
    margin: 0;
    display: block;
    text-align: right;
}

.dropdown-inner-content .link-drop {
    width: 100%;
    padding: 18px 45px;
    font-size: 21px;
    font-weight: 600;
}

.dropdown-inner-content a.link-drop:last-child {
    border-radius: 0 0 24px 24px;
}

.dropdown-inner-content .icon-arrow-left {
    fill: #fff;
    background-color: #ffffff;
    float: left;
    margin: 3px 10px 0 0;
}

.dropdown-inner-content::before {
    content: "";
    display: block;
    position: absolute;
    border-top: 18px solid #fff0;
    border-right: 18px solid #fff0;
    border-bottom: 18px solid #056173;
    border-left: 18px solid #fff0;
    top: -5px;
    left: 125px;
}

.dropdown.login-link .dropdown-inner-content .dropdown-body {
    padding: 10px 40px 20px 40px;
}

.dropdown-inner-content .form-group {
    padding: 15px 0 10px 0;
}

.dropdown-inner-content .form-group label {
    color: #fff;
    font-size: 21px;
    padding: 0 0 0 0;
    margin: 0 0 10px 0;
    width: 100%;
    display: block;
    float: left;
    font-weight: 600;
}

.dropdown-inner-content .form-group input.form-control {
    padding: 0 15px;
    border-radius: 11px;
    width: 100%;
    display: block;
    height: 44px;
    border: none;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    background-color: #fff;
}

.dropdown-inner-content .form-group input.form-control:hover,
.dropdown-inner-content .form-group input.form-control:focus {
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    color: #fff;
}

.dropdown.login-link .dropdown-inner-content::before {
    left: 50px;
}

.dropdown-inner-content .dropdown-footer {
    padding: 0;
    margin: 0;
}

.dropdown-inner-content .dropdown-footer .submit-link {
    width: 100%;
    padding: 25px 45px;
    font-size: 21px;
    background-color: #37818F;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 0 0 24px 24px;
}

.dropdown-inner-content .dropdown-footer .submit-link:hover {
    background-color: #4093a2;
}

/* end of top dropdown */

.phone-call-div i.icon-phone {
    margin: 0 8px 0 0;
}

.user-div i.icon-user {
    margin: 0 5px 0 0;
}

.box-section-01 {
    padding: 40px 0 10px 0;
}

.box-section-01 .counter_section_box {
    text-align: center;
}

.box-section-01 .counter_section_box span {
    font-weight: 800;
    color: #384045;
    font-size: 26px;
    line-height: 28px;
    margin: 2px 0 0 0;
}

.box-section-01 .counter_section_box p {
    padding: 0px 0px;
    margin: 0px auto 0px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-weight: 400;
}

.box-section-01 .elementor-column.elementor-top-column .elementor-widget-container {
    border-right: 2px solid #222;
}

.box-section-01 .elementor-column.elementor-top-column:first-child .elementor-widget-container {
    border-right: 0px solid #222;
}

.box-section-01 .elementor-column.elementor-top-column:nth-child(2) .elementor-widget-container {
    border-right: 0px solid #222;
}

.box-section-01 .counter_section_box h3 {
    font-weight: 800;
    color: #384045;
    font-size: 24px;
    line-height: 26px;
    text-align: right;
    margin: -2px 0 0 0;
}

.box-section-01 .counter_section_box .span-block {
    display: block;
}

.box-section-02.color-box-01 {
    margin: 20px 0 0 0;
}

.box-section-02.color-box-01 .two_section_left {
    padding: 0;
    margin: 0;
    background-color: #93c021;
    text-align: center;
    border-radius: 24px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.box-section-02.color-box-01 .two_section_left .top-section-box {
    padding: 15px 10px 20px 10px;
    margin: 0;
}

.box-section-02.color-box-01 .two_section_left h3 {
    padding: 0px 0px;
    margin: 0 0 0px 0;
    color: #fff;
    font-size: 30px;
    font-weight: 800;
}

.box-section-02.color-box-01 .two_section_left p {
    margin: 0;
    color: #fff;
    padding: 5px 0px 0px 0px;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.box-section-02.color-box-01 .two_section_left .two_section_buttons {
    display: flex;
    width: 100%;
    border-top: 1px solid #fff;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.05);
}

.box-section-02.color-box-01 .two_section_left .two_section_buttons a {
    display: flex;
    width: 50%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 15px 10px;
    color: #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid transparent;
    background-color: #a9cd4e;
    border-bottom-left-radius: 24px;
    line-height: 24px;
    font-size: 18px;
    font-weight: 600;
}

.box-section-02.color-box-01 .two_section_left .two_section_buttons a:hover {
    background-color: #93c021;
}

.box-section-02.color-box-01 .two_section_left .two_section_buttons a:first-child {
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 0px;
}

.box-section-02.color-box-01 .two_section_left .two_section_buttons a i {
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.box-section-02.color-box-01 .two_section_left.change-color2 {
    background-color: #4dbcc6;
    margin: 0 0 20px 0;
}

.box-section-02.color-box-01 .two_section_left.change-color2 .two_section_buttons a {
    background-color: #71c9d1;
}

.box-section-02.color-box-01 .two_section_left.change-color2 .two_section_buttons a:hover {
    background-color: #4dbcc6;
}

.heading-box-top h2 {
    padding: 0 0;
    margin: 0 0 10px 0;
    font-size: 40px;
    color: #384045;
    font-weight: 800;
}

.box-section-03.color-box-grid-04 {
    padding: 0;
    margin: 0 0 30px 0;
}

.box-section-03 .four_section_box {
    padding: 0px;
    margin: 0;
}

.box-section-03 .four_section_box .section_top {
    padding: 10px;
    min-height: 100px;
    background-color: #422242;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    font-size: 36px;
}

.box-section-03 .four_section_box.four_section_box_02 .section_top {
    background-color: #384045;
}

.box-section-03 .four_section_box.four_section_box_03 .section_top {
    background-color: #085D4A;
}

.box-section-03 .four_section_box.four_section_box_04 .section_top {
    background-color: #056173;
}


.box-section-03 .four_section_box .section_bottom {
    padding: 10px 10px 15px 10px;
    margin: 0 0 0 0;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    min-height: 115px;
}

.box-section-03 .four_section_box .section_bottom h3 {
    padding: 0px 0px;
    margin: 0 0 0px 0;
    color: #384047;
    font-size: 21px;
    font-weight: 800;
}

.box-section-03 .four_section_box .section_bottom p {
    padding: 0px 0px;
    margin: 5px auto 0px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.box-section-03 .four_section_box .title_link {
    padding: 15px 0;
    text-align: center;
}

.box-section-03 .four_section_box .title_link p {
    padding: 0px;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
}

.box-section-03 .four_section_box .title_link p i {
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.box-section-03 .span-block {
    display: block;
}

.outer_box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    cursor: pointer;
}

.outer_box .overlay_block {
    display: none;
    transition: all 0.3s;
}

.outer_box:hover {
    display: flex;
}

.outer_box:hover .overlay_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(56, 64, 69, 0.9);
    border-radius: 24px;
    height: 100%;
    z-index: 9;
}

.outer_box:hover .overlay_block p {
    color: #fff;
    padding: 0px 0px;
    margin: 0 0 0px 0;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    display: flex;
    text-align: center;
    float: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.outer_box:hover .overlay_block i.icon-arrow-left {
    font-size: 18px !important;
}

div#content-wrap {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
}

.box-section-04.campus-section {
    background-color: #fff4cf;
    width: 100%;
    display: block;
    padding: 0 0 40px 0;
}

.box-section-04.campus-section .heading_title.heading-title-div {
    padding: 45px 10px 10px 10px;
    text-align: center;
}

.box-section-04.campus-section .heading_title.heading-title-div h3 {
    padding: 0 0;
    margin: 0 0;
    font-size: 40px;
    color: #384045;
    font-weight: 800;
}

.box-section-04.campus-section .heading_title.heading-title-div p {
    padding: 0 0;
    margin: 0 0;
    font-size: 24px;
    color: #384045;
    font-weight: 700;
}

.box-section-04.campus-section .elementor-container {
    max-width: 1200px;
}

.box-section-04.campus-section .campus_items {
    margin: 0 -10px;
}

.box-section-04.campus-section .campus_box {
    width: 25%;
    float: left;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.box-section-04.campus-section .campus_box img.campus_img {
    min-height: 225px;
    max-height: 225px;
    object-fit: cover;
    overflow: hidden;
    background-color: #eee;
    width: 100%;
}

.box-section-04.campus-section .campus_box .section_bottom {
    padding: 15px 15px 15px 15px;
    margin: 0 0 0 0;
    text-align: right;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    min-height: 125px;
    background-color: #fff;
}

.box-section-04.campus-section .campus_box .section_bottom h3 {
    padding: 0px 0px;
    margin: 0 0 0px 0;
    color: #384047;
    font-size: 24px;
    line-height: 30px;
    font-weight: 800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-section-04.campus-section .campus_box .section_bottom p {
    padding: 0px 0px;
    margin: 5px auto 0px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.box-section-04.campus-section .campus_box .section_bottom .campus_time {
    padding: 0px 0px;
    margin: 5px auto 0px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.box-section-04.campus-section .compus_link {
    padding: 10px 0 0 0;
    text-align: center;
}

.box-section-04.campus-section .compus_link a {
    padding: 0px;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
}

.box-section-04.campus-section .compus_link a i {
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.box-section-04.campus-section .campus_box .campus_post_datetime {
    position: absolute;
    top: -5px;
    left: 30px;
    background-color: #ABBAC4;
    border-radius: 8px;
    min-height: 70px;
    min-width: 70px;
    padding: 0;
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    color: #384045;
    display: flex;
    flex-direction: column;
}

.box-section-04.campus-section .campus_box .campus_post_datetime span.digit-number {
    line-height: 40px;
    font-size: 40px;
    padding: 5px 0 0 0;
}

.box-section-04.campus-section .campus_box .campus_post_datetime span.txt-span {
    line-height: 21px;
    font-size: 24px;
    padding: 0px 0 10px 0;
}

.box-section-04.campus-section .campus_box .overlay_block {
    display: none;
    transition: all 0.3s;
}

.box-section-04.campus-section .campus_box:hover {
    display: flex;
}

.box-section-04.campus-section .campus_box:hover .overlay_block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    background-color: rgba(56, 64, 69, 0.9);
    border-radius: 0px 0px 24px 24px;
    height: calc(100% - 20px);
    cursor: pointer;
}

.box-section-04.campus-section .campus_box:hover .overlay_block p {
    color: #fff;
    padding: 0px 0px;
    margin: 0 0 0px 0;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
    display: flex;
    text-align: center;
    float: left;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box-section-04.campus-section .campus_box:hover .overlay_block i.icon-arrow-left {
    font-size: 18px !important;
}

.box-section-05.news-section {
    background-color: #056173;
    width: 100%;
    display: block;
    padding: 45px 0 40px 0;
}

.box-section-05.news-section .heading_title.heading-title-div {
    padding: 45px 10px 10px 10px;
    text-align: center;
}

.box-section-05.news-section .heading_title.heading-title-div h3 {
    padding: 0 0;
    margin: 0 0;
    font-size: 40px;
    color: #384045;
    font-weight: 800;
}

.box-section-05.news-section .heading_title.heading-title-div p {
    padding: 0 0;
    margin: 0 0;
    font-size: 24px;
    color: #384045;
    font-weight: 700;
}

.box-section-05.news-section .elementor-container {
    max-width: 1200px;
}

.box-section-05.news-section .elementor-heading-title {
    padding: 0 0;
    margin: 0 0 50px 0;
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-weight: 800;
    justify-content: center;
}

.box-section-05.news-section .eael-grid-post-holder {
    background-color: #fff;
    border-radius: 24px;
}

.box-section-05.news-section .eael-entry-title {
    padding: 0;
    margin: 0 0 10px 0;
    color: #384045 !important;
    font-size: 21px;
    line-height: 30px;
}

.box-section-05.news-section .eael-entry-title a {
    font-weight: 800;
}

.swiper-button-next i.fa {
    font-size: 36px;
    color: #fff;
    position: absolute;
    right: -50px;
    top: -20px;
}

.swiper-button-prev i.fa {
    font-size: 36px;
    color: #fff;
    position: absolute;
    left: -50px;
    top: -20px;
}

.box-section-05.news-section .elementor-widget-eael-post-carousel .eael-grid-post-excerpt p {
    padding: 0px 0px;
    margin: 5px auto 15px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.box-section-05.news-section .link_title {
    padding: 15px 0;
    text-align: center;
    color: #fff;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
}

.box-section-05.news-section .link_title i {
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.box-section-06.articles-section {
    background-color: #e1e2e0;
    width: 100%;
    display: block;
    padding: 45px 0 20px 0;
}

.box-section-06.articles-section .heading_title.heading-title-div {
    padding: 45px 10px 10px 10px;
    text-align: center;
}

.box-section-06.articles-section .heading_title.heading-title-div h3 {
    padding: 0 0;
    margin: 0 0;
    font-size: 40px;
    color: #384045;
    font-weight: 800;
}

.box-section-06.articles-section .heading_title.heading-title-div p {
    padding: 0 0;
    margin: 0 0;
    font-size: 24px;
    color: #384045;
    font-weight: 700;
}

.box-section-06.articles-section .elementor-container {
    max-width: 1200px;
}

.box-section-06.articles-section .elementor-heading-title {
    padding: 0 0;
    margin: 0 0 50px 0;
    font-size: 40px;
    color: #384045;
    text-align: center;
    font-weight: 800;
    justify-content: center;
}

.box-section-06.articles-section .eael-post-list-thumbnail {
    margin-right: 0;
}

.box-section-06.articles-section .eael-post-list-post {
    padding: 0 25px 25px 0;
}

.box-section-06.articles-section .eael-post-list-content {
    width: 70%;
    float: left;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.15);
    min-height: 140px;
    display: flex;
    align-items: center;
    text-align: right;
    flex-direction: column;
    padding: 15px 15px;
    padding-left: 50px;
    border-radius: 24px 0 0 24px;
    position: relative;
}

.box-section-06.articles-section h2.eael-post-list-title {
    padding: 0;
    margin: 0 0 0px 0;
    color: #384045 !important;
    font-size: 21px;
    line-height: 30px;
    width: 100%;
}

.box-section-06.articles-section h2.eael-post-list-title a {
    padding: 0;
    margin: 0 0 10px 0;
    color: #384045 !important;
    font-size: 21px;
    line-height: 30px;
    font-weight: 800;
    width: 100%;
}

.box-section-06.articles-section .eael-post-list-content p {
    padding: 0px 0px;
    margin: 5px auto 0px auto;
    color: #384047;
    line-height: 24px;
    font-size: 18px;
    text-align: right;
    font-weight: 600;
}

.box-section-06.articles-section .eael-post-list-thumbnail img {
    height: 140px;
    object-fit: cover;
    border-radius: 0px 24px 24px 0px;
}

.box-section-06.articles-section .eael-post-list-container {
    border-radius: 0px;
    overflow: visible;
}

.box-section-06.articles-section .elementor-widget-wrap>.elementor-element {
    margin-bottom: 0px;
}

.box-section-06.articles-section .eael-post-list-wrap {
    padding: 0 0 0px 0;
    margin: 0 -25px 0 0;
}

.box-section-06.articles-section .eael-post-list-posts-wrap {
    margin: 0 0 0 0;
}

.box-section-06.articles-section .link_title {
    padding: 0px 0 15px 0;
    text-align: center;
    color: #384045;
    margin: 0;
    font-size: 21px;
    font-weight: 600;
}

.box-section-06.articles-section .link_title i {
    margin-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.eael-grid-post .eael-entry-footer,
.eael-grid-post .eael-entry-wrapper {
    padding: 15px 15px 25px 15px;
}

.box-section-07.img-section {
    padding: 50px;
}

.box-section-07.img-section figure {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    min-height: 150px;
}

.mainbanner-box-section {
    padding: 0;
    margin: 10px 0 0 0;
}

.mainbanner-box-section .elementor-col-33.elementor-top-column {
    width: 20% !important;
}

.mainbanner-box-section .elementor-col-66.elementor-top-column {
    width: 80% !important;
}

.mainbanner-box-section .header_section_seperate_menu {
    padding: 0 25px 0 0;
    margin: 0;
}

.mainbanner-box-section .header_section_banner img.header_section_image {
    width: 100%;
    height: 156px;
    object-fit: cover;
    border-radius: 0px 0px 24px 24px;
}

.mainbanner-box-section .header_section_seperate_menu .section_top {
    padding: 10px;
    min-height: 76px;
    background-color: #F7D12B;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    font-size: 36px;
}

.mainbanner-box-section .header_section_seperate_menu .section_botton {
    padding: 10px 10px 10px 10px;
    margin: 0 0 0 0;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    min-height: 100%;
}

.mainbanner-box-section .header_section_seperate_menu .section_botton p {
    padding: 0px 0px;
    margin: 0px auto 5px auto;
    color: #384047;
    line-height: 28px;
    font-size: 24px;
    text-align: center;
    font-weight: 800;
}

.mainbanner-box-section .header_section_seperate_menu .section_botton i {
    padding-right: 10px;
    font-size: 16px !important;
    line-height: 0px;
    padding-top: 2px;
}

.header_section_banner {
    position: relative;
}

.banner-indextop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 0 40px 0 0px;
}

.banner-indextop h2 {
    font-size: 48px;
    font-weight: 800;
    color: #384045;
    line-height: 56px;
    margin: 0;
    width: 100%;
}

.banner-indextop h4 {
    font-size: 36px;
    font-weight: 600;
    color: #384045;
    line-height: 48px;
    margin: 0;
    width: 100%;
}

/* end of top header */

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1200px;
}


/* End of design update */

.icon-arrow-left {
    -webkit-mask: url(assets/img/arrow-left-white.svg) no-repeat 50% 50%;
    mask: url(assets/img/arrow-left-white.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    display: inline-block;
    vertical-align: middle;
    mask-size: cover;
    text-align: center;
    width: 19px;
    height: 15px;
    color: #384045;
    fill: #384045;
    background-color: #384045;
}

.icon-arrow-left::before {
    display: none;
}

.icon-user {
    -webkit-mask: url(assets/img/user.svg) no-repeat 50% 50%;
    mask: url(assets/img/user.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    display: inline-block;
    vertical-align: middle;
    mask-size: cover;
    width: 27px;
    height: 27px;
    color: #056173;
    fill: #056173;
    background-color: #056173;
}

.icon-user::before {
    display: none;
}

.icon-phone {
    -webkit-mask: url(assets/img/call.svg) no-repeat 50% 50%;
    mask: url(assets/img/call.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    display: inline-block;
    vertical-align: middle;
    mask-size: cover;
    width: 25px;
    height: 25px;
    color: #056173;
    fill: #056173;
    background-color: #056173;
}

.icon-phone::before {
    display: none;
}

.icon-campus {
    -webkit-mask: url(assets/img/icon01.svg) no-repeat 50% 50%;
    mask: url(assets/img/icon01.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    display: inline-block;
    vertical-align: middle;
    mask-size: cover;
    text-align: center;
    width: 79px;
    height: 47px;
    color: #ffffff;
    fill: #ffffff;
    background-color: #ffffff;
}

.icon-campus::before {
    display: none;
}

.icon-common {
    -webkit-mask: url(assets/img/iconbox-01.svg) no-repeat 50% 50%;
    mask: url(assets/img/iconbox-01.svg) no-repeat 50% 50%;
    -webkit-mask-size: contain;
    display: inline-block;
    vertical-align: middle;
    mask-size: contain;
    text-align: center;
    width: 53px;
    height: 53px;
    color: #ffffff;
    fill: #ffffff;
    background-color: #ffffff;
}

.icon-common.icon-common02 {
    -webkit-mask: url(assets/img/iconbox-02.svg) no-repeat 50% 50%;
    mask: url(assets/img/iconbox-02.svg) no-repeat 50% 50%;
    height: 69px;
    width: 69px;
}

.icon-common.icon-common03 {
    -webkit-mask: url(assets/img/iconbox-03.svg) no-repeat 50% 50%;
    mask: url(assets/img/iconbox-03.svg) no-repeat 50% 50%;
    height: 64px;
    width: 69px;
}

.icon-common.icon-common04 {
    -webkit-mask: url(assets/img/iconbox-04.svg) no-repeat 50% 50%;
    mask: url(assets/img/iconbox-04.svg) no-repeat 50% 50%;
    height: 66px;
    width: 66px;
}

.box-section-02.color-box-01 .two_section_left .icon-arrow-left {
    fill: #fff;
    background-color: #ffffff;
}

.outer_box:hover .overlay_block .icon-arrow-left,
.box-section-04.campus-section .campus_box:hover .overlay_block .icon-arrow-left,
.box-section-05.news-section .link_title .icon-arrow-left {
    fill: #fff;
    background-color: #ffffff;
}

.mainbanner-box-section .icon-arrow-left:hover {
    color: #F7D12B;
    fill: #F7D12B;
    background-color: #F7D12B;
    cursor: pointer;
}

.box-section-05.news-section .icon-arrow-left:hover {
    color: #F7D12B;
    fill: #F7D12B;
    background-color: #F7D12B;
    cursor: pointer;
}

footer .textwidget h2 {
    margin: 0 0 0 0 !important;
    font-size: 18px !important;
    line-height: 30px;
}

.eael-post-list-content i.icon-arrow-left {
    position: absolute;
    left: 20px;
    top: 65px;
    fill: #384045;
    background-color: #384045;
}

.footer-widgets-inner.container {
    width: 1300px;
}

.box-section-07.img-section .elementor-image-gallery .gallery-columns-6 .gallery-item {
    max-width: 14%;
}

.box-section-07.img-section .elementor-image-gallery .gallery-columns-6 .gallery-item:nth-child(5) {
    max-width: 30%;
}

.box-section-07.img-section .elementor-image-gallery .gallery-columns-6 .gallery-item:nth-child(5) img {
    padding: 0 20px;
}

/*  Date in 02-09-2019  */

.dropdown .dropbtn, .phone-call-div a{ font-weight: 400; }

.mainbanner-box-section .header_section_seperate_menu{ width: 20%; float: left; }
.mainbanner-box-section .header_section_banner{ width: 80%; float: left; }

.custom-form-color1 { background-color: #056173; color: #fff; border-radius: 24px; margin: 0 0 100px 0; margin-top: 20px; padding: 20px 30px 0px 30px; display: block; position: relative;    float: left;width: 100%;}
.custom-form-color1 span.form-title { font-size: 36px; font-weight: 800; width: 120px; word-break: break-word; float: right; line-height: 36px; }
.custom-form-color1 li.form-element.field-size-medium { width: 43%; float: right; margin: 0 0 5px 0; padding: 5px 15px; }
.custom-form-color1 li.wpuf-el:first-child { width: 14%;float: right; margin: 0 0 0 0 !important; }
.custom-form-color1 label { font-size: 18px; font-weight: 600; }
.custom-form-color1 .textfield { width: 100%;border-radius: 11px !important;border: none !important; }
.custom-form-color1 .wpuf-fields { display: block; float: none; width: 100% !important; }
.custom-form-color1 li.form-element.field-size-small { float: right; width: 25%; float: right; margin: 0 0 5px 0; padding: 5px 15px; }
.custom-form-color1 li.form-element.field-size-large { float: right; margin: 0 0 0 0; padding: 5px 15px; }
.custom-form-color1 li.form-element select { border: none !important; background-color: #fff !important;  color: #abbac4; border-radius: 11px !important; padding: 0 15px !important;     font-size: 16px; }
.custom-form-color1 li.form-element select::after{ position: absolute; content: ""; }
.custom-form-color1 li.form-element input[type="text"], .custom-form-color1 li.form-element input[type="email"] { width: 100% !important; border-radius: 11px !important;padding: 0 15px !important; font-size: 16px; }
.custom-form-color1 .wpuf-label { margin-bottom: 5px !important; }
.custom-form-color1 li.business_password.password-element.field-size-medium { float: right; width: 30%; clear: both; margin: 0 0 25px 0; }
.custom-form-color1 input[type="checkbox"] { background-color: transparent; border: 1px solid #fff; width: 18px; min-width: 18px; border-radius: 4px; height: 18px; margin: -3px 10px 0 10px; }
.custom-form-color1 li.wpuf-submit { position: absolute; bottom: 0; left: 0; padding: 0 !important; margin: 0 !important; }
.custom-form-color1 .wpuf-submit input[type=submit] { background-color: #37818F !important; border: none !important; box-shadow: none !important; height: 75px !important; text-shadow: none !important; width: 300px; font-size: 18px !important; font-weight: 600; border-radius: 0px 0px 0px 24px !important; line-height: 24px !important; transition: all 0.3s ease-in-out;     padding-left: 40px !important; }
.custom-form-color1 .wpuf-submit input[type=submit]:hover{ background-color: #4093a2 !important; }
.custom-form-color1 li.wpuf-submit .icon-arrow-left { fill: #fff; background-color: #fff; position: absolute; left: 60px; z-index: 222; top: 30px; }
.custom-form-color1 .checkbox-form{ padding-top: 40px !important; }
.custom-form-color1 input[type=checkbox]:checked:before { font-size: 12px; padding-top: 1px; }
.custom-form-color1 select{ -webkit-appearance: none; background: #fff; }
.custom-form-color1 input::-webkit-input-placeholder {  color: #abbac4; }
.custom-form-color1 input::-moz-placeholder {  color: #abbac4; }
.custom-form-color1 input:-ms-input-placeholder {  color: #abbac4; }
.custom-form-color1 input:-moz-placeholder { color: #abbac4; }
#footer-widgets .footer-box { width: 100%; }

.select-element .wpuf-fields{ position: relative; }
span.dropdown-arrow { -webkit-mask: url(assets/img/down-arrow.svg) no-repeat 50% 50%; mask: url(assets/img/down-arrow.svg) no-repeat 50% 50%; -webkit-mask-size: contain; display: inline-block; vertical-align: middle; mask-size: contain; text-align: center; width: 14px; height: 8px; color: #384045; fill: #384045; background-color: #384045; position: absolute; top: 18px; left: 15px; }


.inner_business_box_row { margin-right: -20px; }
.inner_business_box_row .width50_box { width: 50%; float: left; padding-right: 20px; }
.box-section-02.color-box-01 .inner_business_box_row .two_section_left .two_section_buttons a { width: 100%; border-bottom-right-radius: 24px !important; border-bottom-left-radius: 24px !important;     height: 54px !important; }

#main { position: relative; min-height: calc( 100vh - 168px ); }

.addBusiness-form-top { padding: 25px 15px 25px 15px; margin: 0; background-color: #93C021; color: #fff; text-align: center; border-radius: 24px 24px 0px 0px; }
.addBusiness-form-top h2{ padding: 0; margin: 0 0 5px 0; color: #fff; font-size: 30px; font-weight: 800; }
.addBusiness-form-top .addBusiness-second-line span{ padding: 0; margin: 0 0 0px 0; color: #fff; font-size: 21px; font-weight: 400; }

.business-container-fuild{ padding: 0px 0; margin: 0; background-color: #e1e2e0; }
.custom-form-business-publish { border-radius: 24px; display: block; position: relative; float: left;width: 100%; }
.custom-form-business-publish ul.wpuf-form li{ margin: 0 0 0 0 ; }
.custom-form-business-publish label { font-size: 18px; font-weight: 600; color: #384045; }
.custom-form-business-publish input[type="text"], .custom-form-business-publish input[type="email"] { width: 100% !important; border-radius: 11px !important;padding: 0 15px !important; font-size: 16px; }
.custom-form-business-publish ul.wpuf-form li { margin: 0 0 0 0; padding: 0; }
.custom-form-business-publish ul.wpuf-form li.field-size-medium { width: 50%; }

.custom-form-business-publish input[type="text"] { width: 100%; background-color: #fff !important; box-shadow: none !important; max-width: 100% !important; border: 1px solid #384045 !important; border-radius: 11px !important; }

/* End of Date in 02-09-2019  */

/* company section */

.company-section{ padding: 0; margin: 0; position: relative; }
.company-section .company-div{ padding: 0; margin: 0; }
.company-section .company-div .business-white-forms01 .white-body-form-div { background-color: #93c021; }


/* End of company section */


@media only screen and (max-width: 767px) {

    .container {
        width: 100%;
        max-width: 100%;
    }


    .user-div {
        padding-right: 0;
        margin-bottom: 10px;
        width: 100%;
        text-align: right;
        padding: 0 15px;
    }

    .elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
        flex-direction: column;
    }

    .phone-call-div {
        text-align: right;
        justify-content: flex-end;
        padding: 0 15px;
    }

    nav#top-nav ul {
        width: 100%;
        flex-direction: column;
    }

    nav#top-nav ul li {
        border-left: 0px solid #E2E7EA;
    }

    .elementor-element.elementor-widget.elementor-widget-wp-widget-nav_menu {
        width: 100%;
        float: left;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 0 0px 0;
        flex-direction: row;
    }

    .elementor-element.elementor-widget.elementor-widget-wp-widget-ocean_custom_header_logo {
        padding: 15px 0;
        width: 100%;
    }

    .mainbanner-box-section .elementor-col-33.elementor-top-column {
        width: 100% !important;
    }

    .mainbanner-box-section .header_section_seperate_menu {
        padding: 15px;
    }

    .mainbanner-box-section .elementor-col-66.elementor-top-column {
        width: 100% !important;
        padding: 15px;
    }

    .banner-indextop {
        padding: 0 20px 0 0px;
    }

    .banner-indextop h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .banner-indextop h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .box-section-01 .elementor-column.elementor-top-column .elementor-widget-container {
        border-right: 0px solid #222;
        border-bottom: 0px solid #eee;
    }

    .box-section-01 .counter_section_box {
        text-align: right;
    }

    .box-section-01 .counter_section_box p {
        text-align: right;
    }

    .box-section-02.color-box-01 .two_section_left h3 {
        font-size: 24px;
    }

    .box-section-02.color-box-01 .two_section_left p {
        font-size: 16px;
    }

    .box-section-02.color-box-01 .two_section_left .two_section_buttons a {
        font-size: 16px;
    }

    .box-section-02.color-box-01 .two_section_left .two_section_buttons a i {
        font-size: 12px !important;
    }

    .heading-box-top h2 {
        font-size: 28px;
    }

    .box-section-03 .four_section_box .section_bottom {
        min-height: 100%;
    }

    .box-section-04.campus-section .heading_title.heading-title-div h3 {
        font-size: 28px;
    }

    .box-section-04.campus-section .heading_title.heading-title-div p {
        font-size: 21px;
        line-height: 28px;
    }

    .box-section-04.campus-section .campus_items {
        margin: 0 0px 0 0;
    }

    .box-section-04.campus-section .campus_box {
        width: 100%;
        padding: 0 0 30px 0;
    }

    .box-section-04.campus-section .campus_box:last-child {
        padding: 0 0 0px 0;
    }

    .box-section-06.articles-section .elementor-heading-title {
        font-size: 28px;
    }

    .box-section-06.articles-section .eael-post-list-post {
        padding: 0 0px 25px 0;
    }

    .box-section-06.articles-section .eael-post-list-thumbnail img {
        height: 100%;
        max-height: 170px;
    }

    .box-section-06.articles-section h2.eael-post-list-title a {
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 24px;
    }

    .box-section-06.articles-section .eael-post-list-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .box-section-05.news-section .elementor-heading-title {
        font-size: 28px;
    }

    .swiper-button-next i.fa {
        font-size: 24px;
        color: #222;
        position: absolute;
        right: -15px;
        top: -35px;
        padding-left: 2px;
        background-color: #fff;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

    .swiper-button-prev i.fa {
        font-size: 24px;
        color: #222;
        position: absolute;
        left: -15px;
        top: -35px;
        padding-right: 2px;
        background-color: #fff;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

    .box-section-06.articles-section .eael-post-list-wrap {
        margin: 0 0 0 0;
    }

    .box-section-06.articles-section .eael-post-list-content {
        padding-left: 20px;
    }

    .eael-post-list-content i.icon-arrow-left {
        left: 10px;
        top: 75px;
    }

    .box-section-04.campus-section .campus_box:hover .overlay_block {
        top: 0;
        left: 0;
        width: calc(100% - 0px);
    }

    .box-section-07.img-section .elementor-image-gallery .gallery-columns-6 .gallery-item {
        max-width: 100%;
    }

    .box-section-07.img-section .elementor-image-gallery .gallery-columns-6 .gallery-item:nth-child(5) {
        max-width: 100%;
    }

    /* top dropdown */

    /* .dropdown.register-link .dropdown-content.dropdown-top { left: auto; right: -35px; transform: scale(0.8); top: 0; }
    .dropdown-inner-content::before { left: auto; right: 25px; } */

    .dropdown .dropdown-content.dropdown-top {
        left: -120px;
        right: auto;
        transform: scale(0.8);
        top: -15px;
    }

    .dropdown.login-link .dropdown-inner-content::before {
        left: 135px;
    }

    .dropdown.register-link .dropdown-content.dropdown-top {
        left: -204px;
        top: 0;
    }

    .dropdown.register-link .dropdown-inner-content::before {
        left: auto;
        right: 32px;
    }


    /* end of top dropdown */

    /* Date in 02-09-2019  */

    .container, body.content-full-screen .elementor-section-wrap>.elementor-section.elementor-section-boxed>.elementor-container{ max-width: 100%; }

    .mainbanner-box-section .header_section_seperate_menu { width: 100%; padding: 0; margin: 0 0 20px 0; }
    .mainbanner-box-section .header_section_banner{ width: 100%; float: left; }
    .custom-form-color1 li.form-element.field-size-small{     width: 100%; }
    .custom-form-color1 li.business_password.password-element.field-size-medium { width: 100%; margin: 0 0 25px 0; }
    .custom-form-color1 .wpuf-submit input[type=submit]{     width: 100%; }

    .custom-form-color1 li.form-element.field-size-medium{ width: 100%; }
    .custom-form-color1 li.wpuf-el:first-child{ width: 100%; }
    .custom-form-color1 li.form-element.field-size-large{ width: 100%; }
    .custom-form-color1 li.wpuf-submit { position: relative; bottom: auto; left: auto; padding: 0 !important; margin: 0 0px 0 0px !important;float: right;     width: 100%; }
    .custom-form-color1 .wpuf-submit input[type=submit] { border-radius: 0px 0px 24px 24px !important; }

    .custom-form-color1 .custom-form-color1 {  padding: 20px 0px 0px 0px; }
    .custom-form-color1 .checkbox-form { padding-top: 0px !important; }

    .inner_business_box_row .width50_box {
        width: 100%;
        float: left;
        padding-right: 0px;
        margin: 0 0 15px 0;
    }
    .inner_business_box_row {
        margin-right: 0px;
    }

    /* End of Date in 02-09-2019  */
   


}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

    .container {
        width: 100%;
        max-width: 100%;
    }

    .elementor-widget-heading.elementor-widget-heading .elementor-heading-title {
        justify-content: flex-end;
        padding-right: 10px;
    }

    .elementor-element.elementor-widget.elementor-widget-wp-widget-ocean_custom_header_logo {
        width: auto;
        float: right;
    }

    .custom-header-logo #site-logo #site-logo-inner {
        display: block;
        height: auto !important;
        padding: 0;
        margin: 0 0 14px 0;
    }

    .custom-header-logo img.custom-logo {
        width: 120px !important;
    }

    .elementor-element.elementor-widget-heading {
        float: left;
        width: 100%;
        padding: 0;
        margin: 0;
        position: absolute;
        left: 10px;
        width: auto;
        top: 30px;
    }

    .elementor-element.elementor-widget.elementor-widget-wp-widget-nav_menu {
        width: 100%;
    }

    nav#top-nav ul li {
        padding: 5px 15px;
    }

    nav#top-nav ul li a {
        font-size: 16px;
    }


    .mainbanner-box-section .elementor-col-33.elementor-top-column {
        width: 30% !important;
    }

    .mainbanner-box-section .header_section_seperate_menu {
        padding: 15px;
    }

    .mainbanner-box-section .elementor-col-66.elementor-top-column {
        width: 70% !important;
        padding: 15px;
    }

    .banner-indextop {
        padding: 0 20px 0 0px;
    }

    .banner-indextop h2 {
        font-size: 28px;
        line-height: 42px;
    }

    .banner-indextop h4 {
        font-size: 24px;
        line-height: 36px;
    }

    .box-section-01 .counter_section_box {
        padding: 0 10px;
    }

    .box-section-01 .counter_section_box p {
        padding: 0px 10px;
        margin: 5px auto 0px auto;
        line-height: 22px;
        font-size: 16px;
        min-height: 45px;
    }

    .box-section-01 .elementor-column:first-child {
        width: 100%;
    }

    .box-section-01 .elementor-column {
        width: 25%;
    }


    .box-section-02.color-box-01 .two_section_left h3 {
        font-size: 24px;
    }

    .box-section-02.color-box-01 .two_section_left p {
        font-size: 16px;
    }

    .box-section-02.color-box-01 .two_section_left .two_section_buttons a {
        font-size: 16px;
    }

    .box-section-02.color-box-01 .two_section_left .two_section_buttons a i {
        font-size: 12px !important;
    }

    .box-section-03.color-box-grid-04 .elementor-column {
        width: 50%;
    }

    .heading-box-top h2 {
        font-size: 28px;
    }

    .box-section-04.campus-section .heading_title.heading-title-div h3 {
        font-size: 28px;
    }

    .box-section-04.campus-section .heading_title.heading-title-div p {
        font-size: 21px;
        line-height: 28px;
    }

    .box-section-04.campus-section .campus_box {
        width: 50%;
    }

    .box-section-06.articles-section .eael-post-list-post {
        padding: 0 15px 25px 0;
    }

    .box-section-06.articles-section .elementor-heading-title {
        font-size: 28px;
    }

    .box-section-06.articles-section .eael-post-list-thumbnail img {
        height: 100%;
        max-height: 150px;
    }

    .box-section-06.articles-section h2.eael-post-list-title a {
        margin: 0 0 10px 0;
        font-size: 18px;
        line-height: 24px;
    }

    .box-section-06.articles-section .eael-post-list-content p {
        font-size: 16px;
        line-height: 24px;
    }

    .box-section-05.news-section .elementor-heading-title {
        font-size: 28px;
    }

    .swiper-button-next i.fa {
        font-size: 24px;
        color: #222;
        position: absolute;
        right: -15px;
        top: -35px;
        padding-left: 2px;
        background-color: #fff;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

    .swiper-button-prev i.fa {
        font-size: 24px;
        color: #222;
        position: absolute;
        left: -15px;
        top: -35px;
        padding-right: 2px;
        background-color: #fff;
        border-radius: 100%;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
    }

     /* Date in 02-09-2019  */

     .container, body.content-full-screen .elementor-section-wrap>.elementor-section.elementor-section-boxed>.elementor-container{ max-width: 100%; }

     .mainbanner-box-section .header_section_seperate_menu { width: 30%; float: left; padding: 0 20px 0 0; }
     .mainbanner-box-section .header_section_banner{ width: 70%; float: left; }
     .custom-form-color1 li.form-element.field-size-small{     width: 50%; }
     .custom-form-color1 li.business_password.password-element.field-size-medium { width: 100%; margin: 0 0 25px 0; }
     .custom-form-color1 .wpuf-submit input[type=submit]{     width: 220px; }

     .custom-form-color1 li.wpuf-submit .icon-arrow-left { left: 20px; }
 
     /* End of Date in 02-09-2019  */
    



}

@media only screen and (min-width: 1025px) and (max-width:1200px) {
    .container {
        zoom: 80%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {}